  <!--HAMBURGER SIDEBAR-->
  <nav role="navigation">
    <div id="menuToggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <a href="index.html">
          <li>Home</li>
        </a>
        <a href="resources.html">
          <li>Resources</li>
        </a>
      </ul>
    </div>
  </nav>
  <!--HAMBURGER SIDEBAR END-->


  <!--Top Black bar with logo-->
  <div class="jumbotron text-center black-header">
    <img class="small-logo" src="images/8hrs-layout-little-08.png">
  </div>
  <!--Navagation Bar End-->

  <!--Hero image-->
  <div>
    <img id="found-heroimage" src="images/found-header.png">
    <h1 id="header-text" class="text-center">WE FOUND
      <BR>YOUR
      <BR>EMPLOYER</h1>
    <span id="arrow-down" class="glyphicon glyphicon-menu-down" aria-hidden="true" onclick="scroll_to_div('eighthr-content')"></span>
  </div>
  <!--Hero image-->


  <div class="container">
    <div class="row">
      <div class="col-lg-5 text-right">
        <h1 id="title-text">WE HAVE A MATCH!</h1>
        <p> You're not alone! Someone else
          <br>has taken the first step to get organized.
          <br>Here are some details.</p>
      </div>

      <div id="eighthr-content" class="col-lg-7">
        <!--Title for the Employer Goes here-->
        {{#each campaigns}}
        <h1 id="campain-name" style="text-transform: uppercase;">{{campaignName}}</h1>
        <h1 id="employer"> {{employer}} </h1>
        <p id="time-stamp" class="empolyer-body">
          <em>{{createdAt}}</em>
        </p>
        <!--City, State-->
        <p id="location" class="empolyer-body">
          <em>{{city}}, {{state}}</em>
        </p>
        <!--Industry-->
        <p id="industry" class="empolyer-body">{{industry}}</p>

        <!--List of concerns-->
        <h3>List of Concerns</h3>
        {{#if wages}}
          <li id="concern-list" class="empolyer-body">Wages</li>
        {{/if}}
        {{#if benefits}}
          <li id="concern-list" class="empolyer-body">Benefits</li>
        {{/if}}
        {{#if genderEquality}}
          <li id="concern-list" class="empolyer-body">Gender Equality</li>
        {{/if}}
        {{#if racialEquality}}
          <li id="concern-list" class="empolyer-body">Racial Equality</li>
        {{/if}}
        {{#if ageEquality}}
          <li id="concern-list" class="empolyer-body">Age Equality</li>
        {{/if}}
        {{#if workingConditions}}
          <li id="concern-list" class="empolyer-body">Working Conditions</li>
        {{/if}}
{{!--         <li id="concern-list" class="empolyer-body">Wages</li>
        <li id="concern-list" class="empolyer-body">Racial Equality</li>
        <li id="concern-list" class="empolyer-body">Working Conditions</li>
        <li id="concern-list" class="empolyer-body">Benefits</li> --}}
        <!--Message to colleagues-->
        <h3>Why we started this campaign</h3>
        <p id="messagetocolleagues" class="empolyer-body">{{message}}</p>
          
      </div>
    </div>
  </div>


  <!--percentage section-->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img id="second-image" src="images/middle-back.png">
      </div>
    </div>
  </div>




  <!--This is where the Glassdoor API info can be dumped-->
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
      </div>
      <div id="api-content" class="col-lg-7">
        <!--Title for the Employer Goes here-->
        <h3 id="api-text-header" class="api-messagetocolleagues">
          <em>Ready to join the movement but need a little more info for support?
            <br>Check out what some other online communities are reporting.</em>
        </h3>
        
        <p class="api-messagetocolleagues">
        {{featuredReview.headline}}</p>
        <p class="api-messagetocolleagues">
        Rating: {{featuredReview.overall}}
        </p>
        <p class="api-messagetocolleagues">
        Pros: {{featuredReview.pros}}
        </p>
        <p class="api-messagetocolleagues">
        Cons: {{featuredReview.cons}}
        </p>
        <a href='https://www.glassdoor.com/index.htm'>powered by
          <img src='https://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' />
        </a>
      </div>
      <div class="col-lg-2">
        <h1 id="api-text">MORE INSIGHTS
          <BR>FROM GLASSDOOR</h1>
      </div>
    </div>
  </div>
  {{/each}}
  <!--ABOUT THIS APP INFO-->



  <div id="last-section" class="container-fluid">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-4" id="join-section-text">
        <h3 id="join-header">JOIN!</h3>
        <p id="join-body">
          <em>Now that you know a little more about this campaign towards getting organized, take the next step and participate.
            Join this campaign and become a part of a network of change!</em>
        </p>
        <button id="join-button" type="submit" class="btn btn-primary">JOIN THIS CAMPAIGN!</button>
      </div>
      <div class="col-sm-6" id="target-bar-section">
        <div class="modal-div-canvas js-chart" style="width: 70%">
          <div id="myProgress">
            <div id="myBar"></div>
          </div>
          <br>
          <button id="target-status" class="btn btn-primary" onclick="move()">SEE MEMBERSHIP PROGRESS</button>
        </div>
      </div>
    </div>
  </div>

  <!--ABOUT THIS APP INFO-->



  <!--This is the chart I commentted it out sinc it's not working
      <div id="pie-mold" class="yummy-pie" data-percentage="60" data-baking-time="1200"></div>
      <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
      <script src="js/chart.js"></script>

-->
  <!--javascript-->
  <script type="text/javascript">
    function scroll_to_div(div_id) {
      $('html,body').animate({
        scrollTop: $("#" + div_id).offset().top
      },
        'slow');
      console.log("this is the scroll click")
    }


    function move() {
      var elem = document.getElementById("myBar");
      var width = 1;
      var id = setInterval(frame, 10);
      function frame() {
        if (width >= 60) {
          clearInterval(id);
        } else {
          width++;
          elem.style.width = width + '%';
        }
      }
    }

  </script>
